# Urls
FACEBOOK_URL=
GITHUB_URL=
EMAIL_URL=
LINKEDIN_URL=
RESUME_URL=
SITE_URL=

# Notion
NOTION_TOKEN=
NOTION_DATABASE_ID=
NOTION_DATASOURCE_ID=
NOTION_WEBHOOK_SECRET=
ABOUT_PAGE_ID=

# Resend email service
RESEND_API_KEY=
CONTACT_TO_EMAIL=
CONTACT_FROM_EMAIL=

# Cloudflare turnstile
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=